@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow ');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Archivo Narrow ';
   font-size: 14px;
    background-color: lightcoral;
    margin-left: 50px;
    margin-right: 50px;
 }

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display';
  color: grey;
}
h1 {
    font-size: 40px;
    color: cornflowerblue;
    float: left;
    display: inline-block;
    height: 50px;
    padding: 25px;
    padding-left: 0;
    margin: 0;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 12px;
    flex: baseline;
  }
  h5 {
    text-align: center;
    font-size: 14px;
  }
.user_block {
  display: flex;
  align-items: baseline;
}
.user {
    display: flex;
    float: right;
    margin-left: 20px;
    alilgn-items: baseline;
  }
hr {
  clear: both;
}
a :visited, a :hover, a :active, a {
  color: lightgrey;
  text-decoration: none;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  color: black; 
}
input {
  background-color: cornflowerblue;
  color: black;
  font-size: 14px;
}
.errors {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}