<h2>Sign up</h2>
<form action="<%= users_url %>" METHOD="POST">
  <%= auth_token %>
  <table>
    <tr>
      <td>Email: </td>
      <td><input type="text" id="get_email" name="user[email]"></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input type="password" id="get_password" name="user[password]"></td>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Create account"></td>
    </tr>
     <tr>
      <td colspan="2"><h5>Already have an account? <a href="<%= new_session_url %>">Log in</a></h5></td>
    </tr>
  </table>
</form>
